@{
    ViewData["Title"] = "Home Page";
}
<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш123f5cfa-b0ad-4204-a746-85034f74d313&lang=ru_RU" type="text/javascript">
</script>

<h1 class="display-4">Welcome</h1>
<div id="map" style="width: 1200px; height: 900px"></div>
<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init() {
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [54.98, 73.32],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 13
        });
    }
</script>