
@{
    ViewData["Title"] = "О приложении";
}
<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш123f5cfa-b0ad-4204-a746-85034f74d313&lang=ru_RU" type="text/javascript">
</script>
<div class="row">
    <div class="col-2 bg-light pr-0 pl-0 justify-content-center text-center pt-2">    
        <h6>
            Заявки
        </h6>
    </div>
    <div class="col-10 pr-0 pl-0">
        <div id="map" style="width: 100%; height: 800px"></div>
    </div>
</div>

<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init() {
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [54.98, 73.32],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 13
        });
    }
</script>
